<!--<?php
include_once PrintEot('m_appleft');
print <<<EOT
-->
<script type="text/javascript" src="{$server_url}/js/global.js"></script>
<script language="JavaScript">
var server = new PwJs.Server("pwapp");
server.registHandler('setTitle');
server.start();

function setTitle(title) {
	document.title = title + ' $subject$forumtitle$db_bbstitle - Powered by PHPWind.net';
}
</script>

<div id="content" class="fr cc">
<div class="y-bg"></div>
<div class="y-bg2"></div>
<div class="y-bg-content" style="padding:10px 0;">
		<div class="cc">
			<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="800" scrolling="no" src="{$url}"></iframe>
		</div>
<div class="c"></div>
</div>
<div class="y-bg2"></div>
<div class="y-bg"></div>
</div>
<!--
EOT;
?>-->