<!--<?php print <<<EOT
-->
</div>
<div class="c"></div>
<!--
EOT;
if($adskin==2 || $GLOBALS['poweredby']){print <<<EOT
-->
<div class="bottom">
<span class="fr" style="padding:0 20px 0 0;">
	<a href="$admin_file?adminjob=admin&job=notice" onclick="openNewUrl('default','关于PHPWind','$admin_file?adminjob=admin&job=notice');return false;" >关于PHPWind</a>
</span>
Powered by&nbsp;&nbsp;<a href="http://www.phpwind.net/" target="_blank"><b>PHPwind</b> $wind_version</a>&nbsp;&copy; 2003-09,<b style="color: #FF9900">phpwind.net</b>
<!--
EOT;
if($db_debug){print <<<EOT
-->
<br /><span class="tac"><small>Query {$db->query_num}</small></span>
<!--
EOT;
}print <<<EOT
-->
</div>
<!--
EOT;
}print <<<EOT
-->
</body></html>
<!--
EOT;
if(!$showafooter){
afooter(true);
}?>-->