<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<div class="tr3">
<form action="$basename" method="post">
<select name='S_start')>
<option value='' selected>查错范围</option>
$A_option
</select>
<select name='orderway'>
<option value=''>排序</option>
<option value='size'>附件大小</option>
<option value='aid'>附件ID</option>
</select>
<input type="submit" class="btn" value="查 找" style="margin-bottom:4px;"></form>
</div>
<form action="$admin_file?adminjob=attachstats" method=post>
<input type=hidden name=action value='delete'>
<input type=hidden name='F_basename' value=$basename> 
<h2><b>附件手动修复(附件不存在而附件记录存在)--- 使用 ftp 远程转移附件功能.此管理无效</b></h2>
<table cellspacing="0" cellpadding="0" width="100%">
<tr class="tr3 tac"><td>附件ID</td><td>附件大小</td><td>附件名称</td><td>附件链接</td>
<td width=4%>删</td>
</tr>
<!--
EOT;
$num=0;
foreach($threaddb as $thread){
$num++;
print <<<EOT
-->
<tr class="tr3 tac">
<td>$num</td>
<td>$thread[size]</td>
<td>$thread[name]</td>
<td>$thread[url]</td>
<td><input type='checkbox' name='urlarray[$thread[aid]]' value=$thread[url]></td></tr>
<!--
EOT;
}print <<<EOT
-->
</table><br>
<center><input class="btn" type="button" name="chkall" value="全 选" onclick="CheckAll(this.form)">
<input class="btn" type="submit" name="hello" value="提 交"></center></form>
<br/>
<h2><b>附件自动修复</b></h2>
<div class="tr5">
当附件记录大于 1 万时。<b>强烈建议使用上面手动搜索的功能,不要使用此具负载性的功能!</b><br>本功能清除只存在附件记录而没有附件的冗余数据，帖子中的附件记录也将同时更新<br>使用 ftp 远程转移附件功能.此管理无效</div>
<form action=$basename method=post>
<input type=hidden name=action value='delete'> 
<br>
<center><input type="submit" name="hello" class="btn" value="提 交"></center></form><br/>
<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->