<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<h3><b>提示信息</b></h3>
<div class="tr5">功能说明:<br>1 . 采用静态 html 方式来缓存主题内容从而<b>大幅度节约数据库资源,并使浏览速度有质的飞跃</b>.适合于大型网站<br>2 . 占用较多服务器空间,一般<b>占用与您RDBMS同等空间</b><br>3 . 加密帖(出售,加密,隐藏)不会生成htm页面<br>4 . 如果您的空间打开 <b>safe_mode</b> 如果您对此不了解,建议不要使用此功能<br>5 . 使用此功能后用户的真实信息将滞后,<b>请不定期重新生成所有 html 文件</b>!<br>6 . 使用此功能后请不要采用多种风格.更<b>不能使用图片.附件防盗链功能</b>!<br>7 . 使用此功能后将自动启用<b>点击率延迟更新</b>功能<br><br/>模版管理说明:<br>1.可选择一次性生成所有版块的静态模版，也可以选择生成单个版块的静态模版<br>2.当您取消某版块的静态模版功能时请删除相应的 html 数据,以节约空间!</div>
<form action="$basename" method="post" name="creat">
<input type="hidden" name="fids" value="$fids" />
<h2><b>静态模版功能</b></h2>
<table cellspacing="0" cellpadding="0" width="100%">
<tr class="tr3"><td width="10%">选择需要使用静态模版<br>功能的版块</td>
<td>$forumcheck</td></tr></table>
<input type="hidden" name="action" value="submit" />
<br /><center><input type="button" name="chkall" class="btn" value="全 选" onclick="CheckAll(this.form)" />
<input type="submit" value="提 交" class="btn"/></center></form><br/>


<form action="$basename" method="post">
<input type="hidden" name="fids" value="$htmfid" />
<h2><b>静态模版管理</b></h2>
<table cellspacing="0" cellpadding="0" width="100%">
<tr class="tr3"><td width="20%">选择创建模版的版块</td>
<td><select name="creatfid[]" multiple size="16"><option value="all" selected>所有版块</option><option></option>$select</select>
</td>
<tr class="tr3"><td>操作类型</td><td>
<input type="radio" name="action" value="creat" checked />创建
<input type="radio" name="action" value="delete" />删除
</td></tr>
<tr class="tr3"><td width="20%">各版块最大主题生成个数<br />(留空则全部生成)</td>
<td><input name="forumnum" type="text" value="100" class="input" /></td></tr>
<tr class="tr3"><td width="20%">每批生成主题数</td>
<td><input name="percount" type="text" value="100" class="input" /></td></tr></table>
<br /><center>
<input type="submit" value="提 交" class="btn" /></center></form><br/>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->