<!--<?php
include_once PrintEot('left');
if(empty($action)){print <<<EOT
-->
<ul class="nav3">
<li><a href="#" class="two">用户栏目管理</a></li>
<li><a href="$basename&action=add">添加用户栏目</a></li>
</ul>
<div class="c"></div>
<h3><b>提示信息</b></h3>
<div class="tr5">此功能允许管理员自定义用户信息，用户在注册和编辑个人资料时填写这些栏目信息<br>允许编辑：&nbsp;&nbsp;&nbsp;当设置不允许用户编辑时，用户在第一次填写信息后，将不能自行修改自定义用户信息<br>必填内容：&nbsp;&nbsp;&nbsp;当设置为必填项目时，用户注册或编辑个人资料时，必须填写栏目信息后才能提交成功<br>用户组权限：当设置用户组权限后，只有指定用户组有权限查看自定义用户信息<br>帖子中显示：可以设置在帖子页面左侧用户信息处显示自定义用户信息</div>
<form method="post" action="$basename&">
<input name="action" type="hidden" value="del">
<h2>用户栏目管理</h2>
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr3 s3" align="center">
		<td width="5%">ID</td>
		<td width="5%">顺序</td>
		<td width="5%">启用</td>
		<td width="25%">栏目标题</td>
		<td width="20%">栏目类型</td>
		<td width="10%">必填</td>
		<td width="10%">允许编辑</td>
		<td width="10%">帖子中显示</td>
		<td width="5%" class="tal">编辑</td>
		<td width="5%">删</td>
	</tr>
<!--
EOT;
$num=0;
foreach($customfielddb as $key => $val){
$state = $val[state] ? 是 : 否;
$required = $val[required] ? 是 : 否;
$editable = $val[editable] ? 是 : 否;
$viewinread = $val[viewinread] ? 是 : 否;
$type_sel=array(
	'1'=>'单行文本框',
	'2'=>'多行文本框',
	'3'=>'单选框',
);
$type=$type_sel[$val[type]];
$num++;
print <<<EOT
-->
	<tr class="tr3" align="center">
		<td>$num</td>
		<td>$val[vieworder]</td>
		<td>$state</td>
		<td>$val[title]</td>
		<td>$type</td>
		<td>$required</td>
		<td>$editable</td>
		<td>$viewinread</td>
		<td><a class="fourm-two" title="编辑" href="$basename&action=edit&id=$val[id]"><span class="edit"></span></a></td>
		<td><input type="checkbox" name="selid[]" value="$val[id]" onclick="pwJsCheck(this)" /></td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
<br>
<center>
	<input type="button" name="chkall" value="全 选" onclick="CheckAll(this.form)" class="btn">
	<input type="submit" name="delete" value="提 交" class="btn">
</center><br/>
</form>
<!--
EOT;
}elseif($action=='add' || $action=='edit'){print <<<EOT
-->

<ul class="nav3">
<li><a href="$basename">用户栏目管理</a></li>
<!--
EOT;
if($action=='edit'){ print <<<EOT
-->
<li><a href="$basename&action=add">添加用户栏目</a></li>
<li><a href="#" class="two">编辑用户栏目</a></li>
<!--
EOT;
}else{ print <<<EOT
-->
<li><a href="#" class="two">添加用户栏目</a></li>
<!--
EOT;
} print <<<EOT
-->
</ul>
<div class="c"></div>

<form method="post" action="$basename&">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="step" value="2">
<input type="hidden" name="id" value="$id">
$type_hidden

<h2>用户栏目管理</h2>
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr3">
		<td width="40%"><span class="xia2">栏目标题</span><br>请控制在50字节以内</td>
		<td><input type="text" class="input" size="40" name="title" value="$rt[title]"></td>
	</tr>
	<tr class="tr3">
		<td><span class="xia2">栏目描述</span><br>请控制在255字节以内</td>
		<td><textarea name="descrip" rows="6" cols="40">$rt[descrip]</textarea></td>
	</tr>
	<tr class="tr3">
		<td><span class="xia2">是否启用该栏目</span><br>栏目填加后您可以选择暂时关闭该栏目使用</td>
		<td>
			<input type="radio" name="state" value="1" $state_1>是
			<input type="radio" name="state" value="0" $state_0>否
		</td>
	</tr>
	<tr class="tr3">
		<td class="xia2">顺序</td>
		<td><input type="text" size="40" class="input" name="vieworder" value="$rt[vieworder]"></td>
	</tr>
	<tr class="tr3">
		<td><span class="xia2">长度控制</span><br>用户输入长度限制(最大:255字节)</td>
		<td><input type="text" size="40" class="input" name="maxlen" value="$rt[maxlen]"></td>
	</tr>
	<tr class="tr3">
		<td><span class="xia2">必填内容</span><br>是否要求用户在注册和编辑个人资料时必须填写此项</td>
		<td>
			<input type="radio" name="required" value="1" $required_1>是
			<input type="radio" name="required" value="0" $required_0>否
		</td>
	</tr>
	<tr class="tr3">
		<td><span class="xia2">在帖子中显示</span><br>在帖子页面左侧用户信息处显示</td>
		<td>
			<input type="radio" name="viewinread" value="1" $viewinread_1>是
			<input type="radio" name="viewinread" value="0" $viewinread_0>否
		</td>
	</tr>
	<tr class="tr3">
		<td><span class="xia2">允许编辑</span><br>用户第一次填写信息后，是否允许再次自行修改</td>
		<td>
			<input type="radio" name="editable" value="1" $editable_1>是
			<input type="radio" name="editable" value="0" $editable_0>否
		</td>
	</tr>
	<tr class="tr3">
		<td><span class="xia2">查看权限</span><br>允许查看用户此栏目信息的用户组，不选将对所有用户组开放查看权限</td>
		<td>
			<table cellspacing='0' cellpadding='0' border='0' width='100%' align='center'>
				<tr>
<!--
EOT;
$num=0;
foreach($ltitle as $key => $value){
if($key==1 || $key==2)continue;
$ifchecked=${'viewright_'.$key};
$num++;
print <<<EOT
-->
					<td><input type='checkbox' name='groups[]' value='$key' $ifchecked>$value</td>
<!--
EOT;
if($num==4){
$num=0;
print <<<EOT
-->
				</tr><tr>
<!--
EOT;
}}print <<<EOT
-->
				</tr>
			</table>
		</td>
	</tr>
	<tr class="tr3">
		<td width="40%"><span class="xia2">栏目类型</span><br>一旦选定，请不要随意修改，否则将可能造成栏目信息显示错误</td>
		<td>
			<select name="type" $type_disabled>
				<option value="1" $type_1>单行文本框</option>
				<option value="2" $type_2>多行文本框</option>
				<option value="3" $type_3>单选框</option>
			</select>
		</td>
	</tr>
	<tr class="tr3">
		<td><span class="xia2">选项内容</span><br>当栏目类型为单选框时需要设置选项内容，每行为一个选项<br>格式:索引=内容，建议使用数字做索引<br>例如:<br>1=诺基亚<br>2=摩托罗拉<br>3=三星</td>
		<td><textarea name="options" rows="6" cols="40">$rt[options]</textarea></td>
	</tr>
</table>
<br>
<center><input type="submit" name="add" class="btn" value="提 交"></center><br/>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->