<!--<?php
include_once PrintEot('left');
if (empty($action)){print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="action" value="delete" />
<h2>删除游客缓存文件</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td colspan="2">游客缓存文件统计共有:缓存文件 (<font color="red">{$g_num}</font>) 个；占用空间 (<font color="red">$g_size</font>) M</td></tr>
<tr class="tr3">
	<td width="25%">选择范围</td>
	<td><input type="checkbox" name="selid[1]" value="1" />首页 <input type="checkbox" name="selid[2]" value="1" />主题列表页 <input type="checkbox" name="selid[3]" value="1" checked />帖子页面</td>
</tr>
<tr class="tr3">
	<td>每批处理的个数</td>
	<td><input type="text" name="num" class="input" value="1000" size="6" /></td>
</tr>
</table>
<br><center><input type="submit" class="btn" value='提 交'></center></form><br/>

<form action="$basename" method="post">
<input type="hidden" name="action" value="delf" />
<h3>清空主题列表缓存文件</h3>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td colspan="2">主题列表缓存文件统计共有:缓存文件 (<font color="red">{$f_num}</font>) 个；占用空间 (<font color="red">$f_size</font>) M</td></tr>
<tr class="tr3">
	<td width="25%">每批处理的个数</td>
	<td><input type="text" name="num" value="1000" class="input" size="6" /></td>
</tr>
</table>
<br><center><input type="submit" value='清 空' class="btn"></center></form>
<br/>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->