<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<h3><b>提示信息</b></h3>
<div class="tr5">版块开启 "回复审核" 功能时，只有经过管理员审核的回复才会在主题中显示</div>
<form action="$basename&" method=post>
<input type=hidden name=job value='search'>
<h2>回复验证</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3">
<td>所属分类 : <select name="fid"><option>选择分类</option>$forumcache</select> &nbsp;
作者 : <input type="text" size="20" class="input" name="username"> &nbsp;
<!--
EOT;
if($db_plist){ print <<<EOT
-->
分表数据库 : <select name="ptable" onchange="window.location=('$basename&ptable='+this.value);">$p_table</select>&nbsp;
<!--
EOT;
} print <<<EOT
-->
<input type="submit" class="btn" value="提 交"></td></tr>
</table>
</form><br/>

<form action="$basename&" method=post>
<input type=hidden name=job value=search>
<input type=hidden name=step value=2>
<input type=hidden name=ptable value="$ptable">
<h2>回复验证</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tac tr3 s3">
<td width='5%'>ID</td>
<td>标题</td>
<td>所在主题</td>
<td width='15%'>作者</td>
<td width='15%'>所属分类</td>
<td width='15%'>发表时间</td>
<td width='6%'></td></tr>
<!--
EOT;
$num=($page-1)*$db_perpage;
foreach($postdb as $key=>$post){
$num++;
print <<<EOT
-->
<tr class="tac tr3">
<td>$num</td>
<td><a href="$admin_file?adminjob=content&type=post&tid=$post[tid]&id=$post[pid]">$post[subject]</a></td>
<td><a href="read.php?tid=$post[tid]" target='_blank'>所在主题</a></td>
<td><a href="u.php?action=show&uid=$post[authorid]" target='_blank'>$post[author]</td>
<td>$post[name]</td>
<td class='smalltxt'>$post[postdate]</td>
<td><input type=checkbox name="selid[]" value='$post[pid]'></td></tr>
<!--
EOT;
}print <<<EOT
-->
</td></tr><tr><td class="tr4 tac" colspan="7"><input type=radio name="type" value=del>删除<input type=radio name="type" value=pass checked>通过
</td></tr></table><br>$pages
<br>
<center>
<input type="button" name="chkall" value="全 选" onclick="CheckAll(this.form)" class="btn">
<input type="submit" value="提 交" class="btn"></center></form><br/>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->