<!--<?php
include_once PrintEot('left');
if(empty($action)){print <<<EOT
-->
<script language="JavaScript" src="js/wind_editor.js"></script>
<form name='FORM' action="$basename" method="post">
<h2>短消息群发</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td></td>
	<td>
		<input type="radio" name="by" value="1" onclick="sendtype(0)" checked />用户组
		<input type="radio" name="by" value="2" onclick="sendtype(1)" />在线用户
	</td>
</tr>
<tr class="tr3" id="group"><td width="15%" valign="top">接收用户<br></td>
<td width="85%">
<table><tr>
<!--
EOT;
$num=0;
foreach($ltitle as $key=>$value){
if($key=='1' || $key=='2' || isset($lneed[$key]))continue;
$num++;
print <<<EOT
-->
<td><input type='checkbox' name='sendto[]' value='$key'>$value</td>
<!--
EOT;
if($num==4){
$num=0;
print <<<EOT
-->
</tr><tr>
<!--
EOT;
}}print <<<EOT
-->
<td><input type='checkbox' name='sendto[]' value='-1'>普通会员</td></tr></table>
<input type="button" class="btn" name="chkall" value="全 选" onclick="CheckAll(this.form)"><br/><br/>
</td></tr>
<tr class="tr3">
<td width="15%">主题</td>
<td width="85%"><input type="text" class="input" name="subject" size="60" /></td></tr>
<tr class="tr3" valign="top">
<td>内容</td>
<td>
<!--
EOT;
require_once (R_P.'template/wind/editor.htm');
print <<<EOT
-->
</td></tr>
</table>
<br><input type=hidden name="action" value="send"><center>
<input type="submit" class="btn" value="提 交"> <input class="btn" type="reset" value="重 置"></center><br/></form>
<SCRIPT LANGUAGE="JavaScript">
function sendtype(ID){
	var group = document.getElementById("group");
	if (ID==0){
		group.style.display = "";
	}else if (ID==1){
		group.style.display = "none";
	}
}
</SCRIPT>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->