<!--<?php
include_once PrintEot('left');
if (empty($action)){
print <<<EOT
-->
<h3><b>提示信息</b></h3>
<div class="tr5">主要功能:用户组管理，未验证会员审核，禁言组设置，会员编辑，（<font color=blue>版主</font>请到版块管理处设置）<br>1.用户组管理:<br><font color=blue><b>搜索会员并可设置会员为管理员.总版主.和其他特殊组.</b></font><br>在"用户组"处选择要进行操作的用户组，按搜索进入该用户组的管理，要去除该用户组的某个会员只需将他的系统头衔设为普通会员或其他用户组头衔<br>2.未验证会员审核:<br>当开启新注册会员需要管理员验证功能时可以对需要验证的新会员进行管理，在"用户组"处选择"验证会员"选项，按搜索进入验证会员的管理，要通过某个会员验证只需将此会员的系统头衔设为普通会员或其他用户组头衔<br>3.单个会员管理:<br>在"用户名包含"处填写会员ID（可以使用通配符进行模糊查找），按搜索进入对会员资料编辑<br>注:只有超管才能编辑管理员的资料</div>
<form action="$basename&" method=post>
<h2><b>编辑用户</b></h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td>用户组</td>
<td><select name=groupid><option value=''>不限制</option>
$groupselect</select></td></tr>
<tr class="tr3"><td width="40%">用户名包含<br>(可使用通配符 "*")</td>
<td><input type="text" class="input" size="20" maxlength=14 name="schname"></td></tr>
<tr class="tr3"><td>邮箱<br>(可使用通配符 "*")</td>
<td><input type="text" class="input" size="20" name="schemail"></td></tr>
<tr class="tr3"><td>最后登录IP<br>(可使用通配符 "*")</td>
<td><input type="text" class="input" size="20" name="userip"></td></tr>
<tr class="tr3"><td>注册时间大于</td>
<td><select name=regdate>
<OPTION value="all">不限制</OPTION>
<OPTION value="86400">一天</OPTION>
<OPTION value="172800">二天</OPTION>
<OPTION value="604800">一星期</OPTION>
<OPTION value="2592000">一个月</OPTION>
<OPTION value="7776000">三个月</OPTION>
<OPTION value="15552000">六个月</OPTION>
<OPTION value="31536000">一年</OPTION></select></td></tr>
<tr class="tr3"><td>多久未登录</td>
<td><select name=schlastvisit>
<OPTION value="all">不限制</OPTION>
<OPTION value="86400">一天</OPTION>
<OPTION value="172800">二天</OPTION>
<OPTION value="604800">一星期</OPTION>
<OPTION value="2592000">一个月</OPTION>
<OPTION value="7776000">三个月</OPTION>
<OPTION value="15552000">六个月</OPTION>
<OPTION value="31536000">一年</OPTION></select></td></tr>
<tr class="tr3"><td>排序</td>
<td><select name=orderway>
<option value="username">用户名</option>
<option value="uid">注册时间</option>
<option value="lastpost">最后发表</option>
<option value="lastvisit">最后登录</option>
<option value="postnum">发帖</option></select>
<input type="radio" size="5" name="asc" value='' checked>升序
<input type="radio" size="5" name="asc" value='DESC'>降序</td></tr>
<tr class="tr3"><td>每页显示行数</td>
<td><input type="text" size="5" class="input" name="lines" value=100></td></tr>
</table>
<br><center><input type="submit" class="btn" value="提 交"></center>
<input type="hidden" name=action value="search"></form><br/>

<h3><b>提示信息</b></h3>
<div class="tr5">用户组头衔管理<br>此功能可查看用户的附加用户组头衔</div>

<form action="$basename&" method=post>
<input type="hidden" name="action" value="groups">
<h2><b>用户组头衔管理</b></h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td>附加用户组头衔</td>
<td><select name=groupid><option value=''>不限制</option>
$g_sel</select></td></tr>
<tr class="tr3"><td width=40%>用户名包含<br>(可使用通配符 "*")</td>
<td><input type="text" class="input" size="20" maxlength=14 name="schname"></td></tr>
</table></td></tr></table>
<br><center><input type="submit" class="btn" value="提 交"></center></form><br/>

<h3><b>提示信息</b></h3>
<div class="tr5">使用此功能可以在开启<font color=blue>禁止注册新用户</font>功能时,由管理员添加特定用户   <br>超管(<font color=blue>站点创始人</font>)可以使用此功能<font color=blue>添加站点管理员</font>(普通管理员无此权限)</div>

<form action="$basename&" method=post>
<h2><b>添加用户</b></h2>
<table width="100%" cellspacing="0" cellpadding="0">

<tr class="tr3"><td width=40%>用户名</td>
<td><input type="text" class="input" size="20" maxlength=14 name="username"></td></tr>
<tr class="tr3"><td>密&#160;&#160;码</td>
<td><input type="password" class="input" size=20 name="password"></td></tr>
<tr class="tr3"><td>Email</td>
<td><input type="text" class="input" size="20" name="email"></td></tr>
<tr class="tr3"><td>用户组</td>
<td>
<select name=groupid>$groupselect</select></td></tr>
</table>
<br><center><input type="submit" class="btn" value="提 交"></center>
<input type="hidden" name=action value=addnew></form>
<br>
<form action="$admin_file?adminjob=updatecache&" method=post>
<input type="hidden" name=action value='member'>
<h2>更新会员发帖数</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td colspan="2">提示:将根据数据库中的帖子记录来重新统计用户的发帖数<br><span class="xia">不建议使用，除非您希望校正所有用户的发帖数为数据库中实际存在的帖子数</span></td></tr>
<tr class="tr3"><td width=40%>每批更新个数</td>
<td><input type="text" class="input" size="20" name="percount" value="1000" class="input"></td></tr></table>
<br><center><input type="submit" class="btn" value="提 交"></center></form><br/>
<!--
EOT;
}elseif($action==search){print <<<EOT
-->
<h3><b>编辑用户</b></h3>
<div class="tr5">1.此功能可以批量修改会员头衔 <br>2.此功能设置为禁言组的用户将被<font color=blue>永久禁言</font></div>
$pages
<div class="c"></div>
<form action="$basename&" method="post">
<input type="hidden" name="action" value="editgroup">
<h2><b>用户列表</b></h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3 tac s3">
<td>ID</td><td>用户名</td><td>Email</td>
<td>系统头衔</td>
<td>注册时间</td><td>发帖</td><td>IP</td>
<td class="tal">编辑</td>
</tr>
<!--
EOT;
foreach($schdb as $key=>$sch){
if(!$sch[username])continue;
$key+=($page-1)*$lines+1;
$uid=$sch[uid];
print <<<EOT
-->
<tr class="tr3 tac">
<td>$key</td>
<td>$sch[username]</td><td>$sch[email]</td>
<td><select name='gid[$uid]'>$sch[groupselect]</select></td>
<td>$sch[regdate]</td><td>$sch[postnum]</td>
<td>$sch[onlineip]</td><td>
<a class="fourm-two" title="编辑" href="$basename&action=edit&uid=$sch[uid]"><span class="edit"></span></a></td>
</tr>
<!--
EOT;
}
print <<<EOT
-->
</table>
<br><center><input type="submit" class="btn" value="提 交"></center></form><br/>
<!--
EOT;
}elseif($action=='groups'){print <<<EOT
-->
<h2><b>用户列表</b></h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3 tac s3">
<td>ID</td>
<td>用户名</td>
<td>系统头衔</td>
<td>附加用户组头衔</td>
<td>编辑</td>
</tr>
<!--
EOT;
$id=0;
foreach($schdb as $key => $value){
$id++;
print <<<EOT
-->
<tr class="tr3 tac">
<td>$id</td>
<td>$value[username]</td>
<td>$value[system]</td>
<td>$value[gtitle]</td>
<td><a href="$basename&action=edit&uid=$value[uid]">编辑</a></td>
</tr>
<!--
EOT;
}
print <<<EOT
-->
</table>
<!--
EOT;
}elseif($action==edit){print <<<EOT
-->
<form action="$basename&" method="post" onsubmit="return setFaceLen()">
<h2><b>编辑用户</b></h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td width="30%">系统头衔</td>
<td><select name=groupid>$groupselect</select</td></tr>
<tr class="tr3"><td>附加用户组头衔</td>
<td>$usergroup</td></tr>
<tr class="tr3"><td>用户名(<font color=blue>如无特殊需要请不要修改</font>)</td>
<td>
<input type="text" class="input" size="20" name="username" value="$username"></td></tr>
<tr class="tr3"><td>新密码(<font color=blue>如不更改请留空</font>)</td>
<td>
<input type="text" class="input" size="20" name="password" value=''></td></tr>
<tr class="tr3"><td>确认密码(<font color=blue>修改密码时需要输入</font>)</td>
<td>
<input type="text" class="input" size="20" name="check_pwd"></td></tr>
<tr class="tr3">
	<td>安全问题</td>
	<td>
		<select name="question" onchange="showcustomquest(this.value)">
			<option value="-2">不修改安全问题和答案</option><option value="0">无安全问题</option>
<option value="1">我爸爸的出生地</option>
<option value="2">我妈妈的出生地</option>
<option value="3">我的小学校名</option>
<option value="4">我的中学校名</option>
<option value="5">我最喜欢的运动</option>
<option value="6">我最喜欢的歌曲</option>
<option value="7">我最喜欢的电影</option>
<option value="8">我最喜欢的颜色</option>
<option value="-1">自定义问题</option>
		</select>
		<input id="customquest" style="display:none" type="text" name="customquest" size="17">
	</td>
</tr>
<tr class="tr3">
	<td>您的答案</td>
	<td><input type="text" name="answer" class="input"></td>
</tr>
<tr class="tr3"><td>Email</td>
<td>
<input type="text" class="input" size="20" name="email"value='$email'>
<input type=checkbox name=publicmail value=1 $ifpublicmail />公开邮箱</td></tr>
<tr class="tr3"><td> 是否接受邮件:</td>
<td><input type=radio name='receivemail' value='1' $email_open>是
<input type=radio name='receivemail' value='0' $email_close>否</td></tr>
<tr class="tr3"><td>注册日期(格式 yyyy-mm-dd):</td>
<td><input type="text" class="input" size="20" name=regdate value='$regdate'></td></tr>
<tr class="tr3"><td>邮件激活(<font color=blue>设为"1"激活帐号</font>)</td>
<td><input type="text" class="input" size="20" name=yz value='$yz'></td></tr>
<tr class="tr3"><td>IP</td>
<td><input type="text" class="input" size="20" name=userip value='$onlineip'>
</td></tr>
<tr class="tr3"><td>头像网址(不使用.请留空)<br>(必须以 http开头,如果设置了此项,请设置该头像宽.高)</td>
<td>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3"><td width=20%><input type="radio" name="facetype" value="1" onclick="CkFaceType(this.value)">系统头像</td>
<td width=20%><input type="radio" name="facetype" value="2" onclick="CkFaceType(this.value)">头像链接</td>
<td><input type="radio" name="facetype" value="3" onclick="CkFaceType(this.value)" $disabled>头像上传</td></tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
<tr id="face1" style="display:none;"><td><select name="proicon">{$faces}</select></td></tr>
<tr id="face2" style="display:none;"><td>头像链接 <input type="text" class="input" size="20" id="httpurl_url" name="httpurl[0]" value='$httpurl'> 宽: <input type=text size="5" name="httpurl[1]" class="input" value='$iconwidth'> 高: <input type=text size="5" name="httpurl[2]" class="input" value='$iconheight'><input type="hidden" id="httpurl_w" name="httpurl[3]" /><input type="hidden" id="httpurl_h" name="httpurl[4]" /></td></tr>
<tr id="face3" style="display:none;"><td><img src="$iconurl"$iconsize><input type="checkbox" name="delupload" value="$iconfile" />删</td></tr>
</table>
</td></tr>
<tr class="tr3"><td>发帖</td>
<td>
<input type="text" class="input" size="20" name="postnum" value="$postnum" /></td></tr>
<tr class="tr3"><td>{$db_rvrcname}</td>
<td><input type="text" class="input" size="20" name="rvrc" value="$rvrc" /></td></tr>
<tr class="tr3"><td>{$db_moneyname}</td>
<td><input type="text" class="input" size="20" name="money" value="$money" /></td></tr>
<tr class="tr3"><td>活期存款</td>
<td><input type="text" class="input" size="20" name="deposit" value="$deposit" /></td></tr>
<tr class="tr3"><td>定期存款</td>
<td><input type="text" class="input" size="20" name="ddeposit" value="$ddeposit" /></td></tr>
<tr class="tr3"><td>$db_currencyname</td>
<td><input type="text" class="input" size="20" name="currency" value="$currency" /></td></tr>
<tr class="tr3"><td>{$db_creditname}</td>
<td><input type="text" class="input" size="20" name="credit" value="$mdcredit" /></td></tr>
<!--
EOT;
foreach($_CREDITDB as $key => $value){print <<<EOT
-->
<tr class="tr3"><td>$value[0]</td>
<td><input type="text" class="input" size="20" name="creditdb[$key]" value="$custom_credits[$key]" /></td></tr>
<!--
EOT;
}print <<<EOT
-->
<tr class="tr3"><td>在线时间</td>
<td><input type="text" class="input" size="20" name="onlinetime" value="$onlinetime" /></td></tr>
<tr class="tr3"><td>个人主页</td>
<td><input type="text" class="input" size="20" name="site" value="$site" /></td></tr>
<tr class="tr3"><td>来自</td>
<td><input type="text" class="input" size="20" name="location" value="$location" /></td></tr>
<tr class="tr3"><td>QQ</td>
<td>
<input type="text" class="input" size="20" name="oicq" value="$oicq" /></td></tr>
<tr class="tr3"><td>ICQ</td>
<td><input type="text" class="input" size="20" name="icq" value="$icq" /></td></tr>
<tr class="tr3"><td>MSN</td>
<td><input type="text" class="input" size="20" name="msn" value="$msn" /></td></tr>
<tr class="tr3"><td>Yahoo</td>
<td><input type="text" class="input" size="20" name="yahoo" value="$yahoo" /></td></tr>
<tr class="tr3"><td>个性签名</td>
<td>
<input type="text" class="input" size="20" maxlength="75" name="honor" value="$honor" /></td></tr>
<tr class="tr3"><td> 性别</td>
<td><select name="gender">
<option value="0" $sexselect[0]>保密</option>
<option value="1" $sexselect[1]>男</option>
<option value="2" $sexselect[2]>女</option></select></td></tr>
<tr class="tr3"><td> 生日</td>
<td><select name="year">
<option value="0000"></option>
<!--
EOT;
for($i=1960;$i<2005;$i++){
print <<<EOT
-->
<option value="$i" $yearslect[$i]>$i</option>
<!--
EOT;
}print <<<EOT
-->
</select>年
<select name="month">
<option value="00"></option>
<!--
EOT;
for($i=1;$i<13;$i++){print <<<EOT
-->
<option value="$i" $monthslect[$i]>$i</option>
<!--
EOT;
}print <<<EOT
-->
</select>月
<select name="day">
<option value="00"></option>
<!--
EOT;
for($i=1;$i<32;$i++){print <<<EOT
-->
<option value="$i" $dayslect[$i]>$i</option>
<!--
EOT;
}print <<<EOT
-->
</select>日
</td></tr>
<tr class="tr3"><td>帖子签名</td>
<td>
<textarea cols="50" name="signature" rows="4">$signature</textarea></td></tr>
<tr class="tr3"><td>自我简介</td>
<td>
<textarea name="introduce"  rows="4" cols="50">$introduce</textarea></td></tr>
<tr class="tr3"><td>短消息拒绝列表</td>
<td>
<textarea name="banpm"  rows="4" cols="50">$banpm</textarea></td></tr>
</table>
<!--
EOT;
if($customfield){print <<<EOT
-->
<h2></h2>
<table width="100%" cellspacing="0" cellpadding="0">
<!--
EOT;
foreach($customfield as $key=>$val){
$field="field_".(int)$val[id];
if($val[type]=='1'){
$field_type="<input type=\"text\" size=\"30\" name=\"$field\" value=\"{$$field}\">";
}elseif($val[type]=='2'){
$field_type="<textarea name=\"$field\" rows=\"5\" cols=\"50\">{$$field}</textarea>";
}elseif($val[type]=='3'){
$field_type="<select name=\"$field\">";
$options=explode("\n",$val[options]);
foreach($options as $k=>$v){
list($k,$v)=explode('=',$v);
$type_sel=$$field==$k?'selected':'';
$field_type.="<option value=\"$k\" $type_sel>$v</option>";
}$field_type.="</select>";
}print <<<EOT
-->
<tr class="tr3">
	<td width="30%">$val[title]<br>$val[descrip]</td>
	<td class="input2">{$field_type}</td>
</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
<!--
EOT;
}print <<<EOT
-->
<br>
<center><input type="submit" class="btn" value="提 交" /></center>
<input type="hidden" name="action" value="edit" />
<input type="hidden" name="uid" value="$uid" />
<input type="hidden" name="step" value="2" />
</form><br/>
<script language="JavaScript">
function showcustomquest(qid){
  getObj("customquest").style.display = qid==-1 ? '' : 'none';
}
function CkFaceType(value){
	var facetype = document.getElementsByName('facetype');
	for (i=0;i<facetype.length;i++) {
		if (facetype[i].value == value) {
			facetype[i].checked = true;
			document.getElementById('face' + value).style.display = '';
		} else {
			document.getElementById('face' + facetype[i].value).style.display = 'none';
		}
	}
}
function setFaceLen() {
	var v = 0;
	var facetype = document.getElementsByName('facetype');
	for (i = 0; i < facetype.length; i++) {
		if (facetype[i].checked === true) {
			v = facetype[i].value;break
		}
	}
	if (v == 2) {
		var img = new Image();
		img.src = getObj('httpurl_url').value;
		getObj('httpurl_w').value = img.width;
		getObj('httpurl_h').value = img.height;
	}
	return true;
}
CkFaceType('$icontype');
</script>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->