<!--<?php
include_once PrintEot("css");
print <<<EOT
-->
</head>
<body bgcolor=#CED4E8 topmargin=5 leftmargin=5>

<table width=100% cellpadding=0 cellspacing=1>
<tr><td width=20% valign=top class=b>
<table width=100% cellpadding=6 cellspacing=2>
<tr><td class=head>

</td></tr>
<tr>
<td class=b>
<a href="$admin_file">管理区首页</a>
</td></tr>
<tr><td class=head_2><b>请先登录</b></td></tr>
<tr><td class=head_2><b>如果登录发生错误请先关闭所有浏览器重新登录</b></td></tr>
<tr>
<td bgcolor='$c'><a href='http://www.phpwind.net' target=_blank></a>
</td></tr></table>
</td><td width=80% valign=top class=b>
<table width=100% cellpadding=1 cellspacing=0 border=0>

<tr><td>
<!--
EOT;
?>