<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<h3><b>提示信息</b></h3>
<div class="tr5">封禁用户列表，管理员可使用此功能解除封禁用户</div>
<form action="$basename&" method="post">
<script language="javascript" src="js/date.js"></script>
<h2>搜索</h2>
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr3 tac">
		<td>
			禁言类型 :
			<select name="bantype">
				<option value=""></option>
				<option value="1">定期禁言</option>
				<option value="2">永久禁言</option>
				<option value="3">强制禁言</option>
			</select>
		</td>
		<td>
			用户名 : <input type="text" class="input" size="12" name="banuser" />
		</td>
		<td>
			管理员 : <input type="text" class="input" size="12" name="adminban" />
		</td>
		<td>
			禁言时间 : <input type="text" class="input" size="12" id="starttime" name="starttime" onClick="javascript:ShowCalendar(this.id)" /> -
			<input type="text" class="input" size="12" id="endtime" name="endtime" onClick="javascript:ShowCalendar(this.id)" />
		</td>
		<td><input type="submit" value="提 交" class="btn" /></td>
	</tr>
</table><br/>
</form>

<form action="$basename&" method="post">
<input type="hidden" name="action" value="freeban">
<h2>禁言用户</h2>
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tr3 tac s3">
<td width="5%">ID</td>
<td width="12%">用户名</td>
<td width="15%">禁言范围</td>
<td width="10%">封禁类型</td>
<td width="15%">封禁时间</td>
<td width="8%">封禁天数</td>
<td width="12%">管理员</td>
<td>禁言原因</td>
<td width="5%">解禁?</td>
</tr>
<!--
EOT;
$num=($page-1)*$db_perpage;
foreach($bandb as $ban){
$num++;
print <<<EOT
-->
<tr class="tac tr3">
<td>$num</td>
<td>
<a href="u.php?action=show&uid=$ban[uid]" target="_blank">$ban[username]</a></td>
<td>
<!--
EOT;
if($ban['fid']){print <<<EOT
-->
<a href="thread.php?fid=$ban[fid]">{$forum[$ban[fid]][name]}</a>
<!--
EOT;
}else{print <<<EOT
-->
全局禁言
<!--
EOT;
}print <<<EOT
-->
</td>
<td>
<!--
EOT;
if($ban['type']==1){print <<<EOT
-->
定期禁言
<!--
EOT;
}elseif($ban['type']==2){print <<<EOT
-->
永久禁言
<!--
EOT;
}elseif($ban['type']==3){print <<<EOT
-->
强制禁言
<!--
EOT;
}print <<<EOT
-->
</td>
<td>$ban[date]</td>
<td>$ban[days]</td>
<td>$ban[admin]</td>
<td>$ban[reason]</td>
<td><input type="checkbox" name="free[]" value="$ban[id]" onclick="pwJsCheck(this)" /></td></tr>
<!--
EOT;
}print <<<EOT
-->
</table>$pages
<br />
<center><input class="btn" type="button" name="chkall" value="全 选" onclick="CheckAll(this.form)" />
<input class="btn" type="submit" name="hello" value="提 交" /></center></form><br/>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->