<!--<?php
print <<<EOT
-->
<table width="100%" cellspacing="0" cellpadding="5">
	<tr><th class="h" colspan="2" style="cursor:move" onmousedown="read.move(event);"><span class="fr" style="margin-top:2px;cursor:pointer" onclick="closep();"><img src="$imgpath/close.gif" /></span>{$invokepiece[invokename]}->$invokepiece[title]</th></tr>
	<tr>
		<td>
<h2>
<a style="cursor:pointer" onclick="sendmsg('{$thisBaseName}&action=editcontent&invokepieceid=$invokepiece[id]&loopid=$push[loopid]');">返回</a>
</h2>
<div class="mode-one">
<form action="{$thisBaseName}&action=editpush" method="post" onsubmit="return false;">
<table cellspacing="0" cellpadding="0" width="100%">
	<tbody>
<!--
EOT;
foreach ($push[data] as $k=>$val) {
if ($k=='tagrelate') {
	continue;
}
$name = getParamName($k,$invokepiece['action']);
if (is_numeric($invokepiece[param][$k])) {
if($k=='descrip'){
$add = 'onKeyUp="countlen(this,\''.$invokepiece[param][$k].'\');"';
}else{
$add = 'maxlength="'.$invokepiece[param][$k].'"';
}
} else {
$add = '';
}
print <<<EOT
-->
		<tr>
			<td>{$name} :</td>
			<td>
<!--
EOT;
if($k=='descrip'){print <<<EOT
-->
				<textarea name="param[$k]" style="width:260px;height:92px" $add >$val</textarea>
<!--
EOT;
}else{
print <<<EOT
-->
				<input type="text" class="input" size="40" name="param[$k]" value="$val" $add>
<!--
EOT;
}
print <<<EOT
-->
			</td>
		</tr>
<!--
EOT;
}
print <<<EOT
-->
<!--
EOT;
if ($invokepiece[num]>1) {
print<<<EOT
-->
		<tr class="tr3">
			<td class="tar">列表位置</td>
			<td><select name="offset">
<!--
EOT;
for ($i=0;$i<$invokepiece[num];$i++) {
$value=$i+1;
$select = $push[offset]==$i?'selected':'';
print<<<EOT
-->
				<option value="$i" $select>$value</option>
<!--
EOT;
}print<<<EOT
-->
			</select></td>
		</tr>
<!--
EOT;
}else{print<<<EOT
-->
		<input type="hidden" name="offset" value="0" />
<!--
EOT;
}print<<<EOT
-->
		<tr class="tr3">
			<td class="tar">失效日期</td>
			<td><input type="text" size="10" name="endtime" id="edit_endtime" onclick="ShowCalendar(this.id);" value="$push[endtime]"> (留空则为长期显示)</td>
		</tr>
<!--
EOT;
if ($iftagrelate) {
print<<<EOT
-->
		<tr>
			<td colspan="2">
				<table width="100%">
					<tbody id="tagrelate">
						<tr>
							<td colspan="2"><h2>关联文章</h2></td>
							<td colspan="2"><a href="#" class="fr" onclick="New(addTagRelate,['tagrelate','tagrelatedata']);return false;">添加</a></td>
						</tr>
						<tr>
							<td width="40">顺序</td>
							<td>标题</td>
							<td>链接地址</td>
							<td width="45">&nbsp;</td>
						</tr>
<!--
EOT;
foreach ($push[data][tagrelate] as $relate) {
print<<<EOT
-->
						<tr>
							<td><input type="text" size="2" name="tagrelate[index][]" value="$relate[index]"  class="input"></td>
							<td><input type="text" size="16" name="tagrelate[title][]" value="$relate[title]" class="input"></td>
							<td><input type="text" size="22" name="tagrelate[url][]" value="$relate[url]" class="input"></td>
							<td><a href="#" onclick="delTr(this);">删除</a></td>
						</tr>
<!--
EOT;
}print<<<EOT
-->
						<tr>
							<td><input type="text" size="2" name="tagrelate[index][]" class="input"></td>
							<td><input type="text" size="16" name="tagrelate[title][]" value="" class="input"></td>
							<td><input type="text" size="22" name="tagrelate[url][]" value="http://" class="input"></td>
							<td><a href="#" onclick="delTr(this);">删除</a></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
<!--
EOT;
}print<<<EOT
-->
	</tbody>
</table>
<ul><li style="text-align:center;padding:4px 0;">
<input type="hidden" name="id" value="$id">
<input type="hidden" name="step" value="2">
<input type="button" class="btn" name="ajaxsubmit" onclick="ajax.submit(this.form,function(){sendmsg('{$thisBaseName}&action=editcontent&invokepieceid=$invokepiece[id]&loopid=$push[loopid]');});" value="提交" />
</li></ul>
</form>
</div>
		</td>
	</tr>
</table>
<table style="display:none">
	<tbody id="tagrelatedata">
		<tr>
			<td><input type="text" size="2" name="tagrelate[index][]" class="input"></td>
			<td><input type="text" size="16" name="tagrelate[title][]" value="" class="input"></td>
			<td><input type="text" size="22" name="tagrelate[url][]" value="http://" class="input"></td>
			<td><a href="#" onclick="delTr(this);">删除</a></td>
		</tr>
	</tbody>
</table>
<!--
EOT;
?>-->