<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<base target="_self">
<script language="javascript">
function insertImg(id,filename){
	if(window.dialogArguments){
		var win = window.dialogArguments;
	}else{
		var win = window.opener;
	}
	win.document.getElementById(id).value=filename;

	window.close();
}

</script>
<body>
<div style="font-size:12px;margin:-1em;">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr4 tac" style="font-size:12px;">
			<td>文件名</td>
			<td>图片</td>
			<td>插入</td>
		</tr>
<!--
EOT;
foreach($medalimgs as $file){
$addimg="<a style=\"cursor:pointer;\" onclick=\"javascript:insertImg('".$thisid."','".$file[filename]."');\" title=\"使用此图片\">使用此图片</a>";
$have = $file['isused'] ? "<font style=\"color:red\">*</font>":"";
print <<<EOT
-->
		<tr class="tr3" style="font-size:12px;">
			<td>{$have}{$file[filename]}</td>
			<td><img src="hack/$hackset/image/{$file[filename]}" ></td>
			<td>$addimg</td>
		</tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
</div>
<!--
EOT;
?>-->
