<!--<?php
print <<<EOT
-->
<table cellspacing="0" cellpadding="0" width="600">
	<tbody id="fildbody">
		<tr><th class="h" colspan="100" style="cursor:move" onmousedown="read.move(event);"><span class="fr" style="margin-top:2px;cursor:pointer" onclick="closep();"><img src="$imgpath/close.gif" /></span>操作完成</th></tr>
		<tr  class="tr3 tac">
			<td>
				专题链接：
			</td>
			<td>
				<input type="text" value="$stopicUrl" class="input" size="60"><a href="$stopicUrl" target="_blank">预览</a>
			</td>
		</tr>
	</tbody>
</table>
<!--
EOT;
?>
-->