<!--<?php print <<<EOT
-->
<div id="breadCrumb">
		<img src="$imgpath/$stylepath/thread/home-old.gif" align="absmiddle" />&nbsp;<a href="$db_bfn" title="$db_bbsname">$db_bbsname</a> &raquo; 站点操作
</div>
<style type="text/css">
.t{margin-top:8px;border:4px solid $forumcolortwo;}
.t table{border:2px solid $tablecolor;}
.t .h{font-weight:normal}
.t .tr3{line-height:25px;}
</style>
<!--
EOT;
if($action=='showping'){print <<<EOT
-->
<form name="ping" action="operate.php?action=$action" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<!--
EOT;
foreach($atcdb as $key=>$value){print <<<EOT
-->
<input type="hidden" name="selid[]" value="$key" />
<!--
EOT;
}print <<<EOT
-->
<div class="t f_one" style="margin-top:8px;">
<table width="100%" align="center" cellspacing="0" cellpadding="0">
<tr><th class="h">&nbsp;</th><th class="h">帖子评分</th></tr>
<tr class="tr3"><td width="21%" class="tar">操作</td>
<th><input type="radio" name="step" value="1" checked onclick="operatesel(1);"/>评分&nbsp;
<input type="radio" name="step" value="2" onclick="operatesel(2);"/>取消评分</th></tr>

<tr id="cancel" style="display:none" class="tr3"><td class="tar">操作说明:</td>
<th>取消评分按自己最近的评分开始取消</th></tr>

<tr class="tr3"><td class="tar">操作者</td>
<th><a href="u.php?action=show&uid=$winduid">$windid</a></th></tr>
<tr class="tr3"><td class="tar">评分数量:</td>
<th>$count 篇</th></tr>
<tr id="ok1" style="display:none" class="tr3"><td class="tar">积分名称:</td>
<th><select name="cid" onchange="optionsel(this.value)">$creditselect</select></th></tr>
<tr id="ok2" style="display:none" class="tr3"><td class="tar">增加单位:</td>
<th><input class="input" type="text" name="addpoint" value="1" size="5" /> <span id="showping">点 ($minper~$maxper)，今日剩余评分点数:<span class="s3 b">{$leavepoint}</span></span></th></tr>
<tr class="tr3"><td class="tar">标题:</td>
<th><a href="read.php?tid=$tid">$atc[subject]</a></th></tr>
<tr class="tr3"><td class="tar">短消息通知</td>
<th>
<input type="radio" name="ifmsg" value="1" $check_Y />是
<input type="radio" name="ifmsg" value="0" $check_N />否</th></tr>
<tr id="ok3" style="display:none" class="tr3"><td class="tar">评分理由</td>
<th style="vertical-align:top"><textarea name="atc_content" id="atc_content" rows="8" style="width:300px;"></textarea>
<select name="" size="8" multiple onchange="this.form.atc_content.value=this.value">
	<option value="">自定义</option>
	<option value="">-------</option>
	$reason_sel
</select>
<div id="atc_content_warn" class="gray">限100字节</div>
</th></tr>
<tr><td></td><td style="padding:.5em 5em;"><input class="btn" type="submit" value="提 交" />  <a class="btn3" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
<input type="hidden" name="page" value="$page" />
<input type="hidden" name="tid" value="$tid" /></form>
<script language="javascript">
function operatesel (id) {
	if (id == '1') {
		objCheck('ok1').style.display = '';
		objCheck('ok2').style.display = '';
		objCheck('ok3').style.display = '';
		objCheck('cancel').style.display = 'none';
	} else {
		objCheck('ok1').style.display = 'none';
		objCheck('ok2').style.display = 'none';
		objCheck('ok3').style.display = 'none';
		objCheck('cancel').style.display = '';
	}
}
setTimeout('operatesel(1);',50);
function optionsel(id) {
	pinglog = objCheck('showping');
	var jscredit = JSONParse('$jscredit');
	pinglog.innerHTML = '点 (' + jscredit[id]['minper'] + '~' + jscredit[id]['maxper'] + ')，今日剩余评分点数：<span class="s3 b">' + jscredit[id]['leavepoint'] + '</span>';
}
var charset = '$db_charset';
initCheckTextNum('atc_content','atc_content_warn',100);
</script>
<!--
EOT;
}elseif($action=='recommend'){print <<<EOT
-->
<form method="post"  name="recommendFORM" action="operate.php?action=recommend">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="tid" value="$tid" />
<div class="t f_one" style="margin-top:8px;">
<table width="100%" align="center" cellspacing="0" cellpadding="0">
	<tr><td class="h">&nbsp;</td><th class="h">帖子推荐</th></tr>
	<tr class="tr3">
		<td width="21%" class="tar">推荐方式:</td>
		<td><input type="radio" name="step" value="1" onclick="getObj('sendemail').style.display='none';getObj('friend').style.display='';" checked />短消息推荐 <input type="radio" name="step" value="2" onclick="getObj('sendemail').style.display='';getObj('tofriend').style.display='none';getObj('friend').style.display='none';" />邮件推荐</td>
	</tr>
	<tr class="tr3">
		<td class="tar">对方姓名:</td>
		<td><input type="text" class="input" name="sendtoname" size="25" value="" />
<!--
EOT;
if($friends){print <<<EOT
-->
			<span id="friend" class="bta" onClick="getObj('tofriend').style.display='';">好友列表</span>
<!--
EOT;
}print <<<EOT
-->	
		</td>
	</tr>
	<tr id="tofriend" style="display:none">
		<td align="center">好友选择:</td>
		<td>
			<div style="overflow-y:scroll;width:307px;height:7em;"><ul class="menu-half">
<!--
EOT;
if($friends){
foreach($friends as $key=>$val){print <<<EOT
-->
				<li><input type="checkbox" name="touid[]" value="$key" />$val[username]</li>
<!--
EOT;
}print<<<EOT
-->
			</ul></div>
			<span class="bta" style="cursor:pointer;" onClick="CheckAll(document.recommendFORM,'touid')">全 选</span>
<!--
EOT;
}print <<<EOT
-->
		</td>
	</tr>
	<tbody id="sendemail" style="display:none">
	<tr class="tr3"><td class="tar">对方Email:</td>
		<td><input type="text" class="input" name="sendtoemail" size="25" value="" /></td>
	</tr>
	</tbody>
	<tr class="tr3">
		<td class="tar">标题：</td>
		<td><input type="text" class="input" name="subject" size="44" value="$atc_name" /></td>
	</tr>
<!--
EOT;
if($db_gdcheck & 16){print <<<EOT
-->
	<tr class="tr3">
		<td class="tar">认证码：</td>
		<td>
			<input class="input" type="text" name="gdcode" size="8" onfocus="try{opencode('menu_gd',this)}catch(e){}" /><span style="cursor:pointer; margin-left:3px" onclick="this.previousSibling.focus();">点此显示验证码</span>
			<div class="menu" id="menu_gd" style="visibility:hidden;"><img src="ck.php?" align="absmiddle" style="cursor:pointer;" id="ckcode" alt="看不清楚，换一张" /></div>
		</td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
	<tr class="tr3"><td class="tar">内容：</td>
		<td><textarea rows="6" style="width:96%" name="atc_content" onkeydown="ajax.quickpost(event,this.form)">您好！我在$db_bbsname($db_bbsurl/?u=$winduid)\n看到了这篇帖子，认为很有价值，特推荐给您。\n\n作者:$atcinfo[author]\n地址:{$db_bbsurl}/read.php?tid=$tid&u=$winduid\n\n希望您能喜欢。</textarea></td>
	</tr>
	<tr><td></td><td style="padding:.5em 5em"><input class="btn" type="submit" value="提 交" />  <a class="btn3" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
</form><br />
<SCRIPT type="text/javascript" LANGUAGE="JavaScript" src="js/core/friendlist.js"></SCRIPT>	

<!--
EOT;
}elseif($action=='report'){print <<<EOT
-->
<form action="operate.php?action=$action" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t f_one" style="margin-top:8px;">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td class="h">&nbsp;</td><th class="h">报告功能</th></tr>
<tr class="tr3"><td width="21%" class="tar">报告类型:</td>
<td><input type="radio" name="type" value="1" checked onclick="this.form.reason.value='该帖很优秀,建议加为精华帖!'" />优秀帖子 <input type="radio" name="type" value="0" onclick="this.form.reason.value='该帖包含不良信息,请及时处理!'" />不良帖子</td></tr>
<tr class="tr3"><td class="tar">通知版主:</td>
<td><input type="radio" name="ifmsg" value="1" checked />是
<input type="radio" name="ifmsg" value="0" />否</td></tr>
<tr class="tr3"><td class="tar">原因:</td>
<td><textarea id="reason" name="reason" rows="6" style="width:96%">该帖很优秀,建议加为精华帖!</textarea>
</td></tr>
<tr><td></td><td style="padding:.5em 5em"><input class="btn" type="submit" value="提 交" />  <a class="btn3" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
<input type="hidden" name="step" value="2" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
</form>
<!--
EOT;
}?>-->